[submodule "2%20курс/3%20семестр/Конфигурационное%20управление/DDTRon-OS"]
	path = 2%20курс/3%20семестр/Конфигурационное%20управление/DDTRon-OS
	url = https://github.com/liner-exe/DDTron-OS.git
[submodule "2%20курс/3%20семестр/Конфигурационное%20управление/DDTRon-PackageManager"]
	path = 2%20курс/3%20семестр/Конфигурационное%20управление/DDTRon-PackageManager
	url = https://github.com/liner-exe/DDTron-PackageManager
