[submodule "2 курс/3 семестр/Конфигурационное управление/2 курс/3 семестр/Конфигурационное управление"]
	path = 2 курс/3 семестр/Конфигурационное управление/2 курс/3 семестр/Конфигурационное управление
	url = https://github.com/liner-exe/DDTron-OS
[submodule "2 курс/3 семестр/Конфигурационное управление/DDTRon-OS"]
	path = 2 курс/3 семестр/Конфигурационное управление/DDTRon-OS
	url = https://github.com/liner-exe/DDTron-OS
[submodule "2 курс/3 семестр/Конфигурационное управление/DDTRon-PackageManager"]
	path = 2 курс/3 семестр/Конфигурационное управление/DDTRon-PackageManager
	url = https://github.com/liner-exe/DDTron-PackageManager
